@import "./variables.css";

.message-box {
    background-color: #f0f0f0;
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 10px 30px;
    border: solid;
    border-radius: 3px;
    border-color: var(--clr-blue-dim);
    border-width: 2px 0 0 0;
    z-index: 100;
    /* box-shadow: 0px -3px 1px 0px var(--clr-blue-dim); */
}

#content {
    padding: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: top;
    /* background-color: blue; */
    height: 100%;
}

#content p {
    padding: 1rem;
    text-align: center;
    /* background-color: red; */
}

#title {
    display: flex;
    justify-content: center;
}

#title i {
    font-size: xx-large;
}

.btn-abs {
    position: absolute;
    display: flex;
    width: 100%;
    right: 0;
    bottom: 0;
    /* background-color: rebeccapurple; */
    justify-content: right;
    padding: 1rem;
}

.btn-abs button {
    width: var(--btn-wid);
    height: var(--btn-hei);
    color: #fff;
    font-size: 16px;
    border: none;
    background-color: var(--clr-blue);
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    margin: 5px;
}